
#canvas-container{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#game-canvas{
}

body{
    margin: 0px;
}

.block{
    width: 32px;
    height: 32px;
    margin: 1px;
}

.row{
    display: flex;
}

.empty{
    background-color: lightgray;
}

.lpiece{
    background-color: blueviolet;
}

.tpiece{
    background-color: lightcoral;
}

.spiece{
    background-color: aquamarine;
}

.zpiece{
    background-color: darkslategrey;
}

.longpiece{
    background-color: aqua;
}

.locked{
    background-color: black;
}